body {
  font-family: sans-serif;
  margin: 20px;
  background: #f7f7f7;
}

section {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px #ccc;
}

input, textarea {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
}

button {
  margin-top: 5px;
  padding: 6px 10px;
}